
<header>
    <img class="logo"
         src="https://i.pinimg.com/originals/97/a5/34/97a534c4e5e6a8d84671afeaf871942e.png"
         alt="LogoTM">
    <nav>
        <ul>
            <li><a href="{{path('home')}}" class="">Accueil</a></li>
            <li class="button-select"><a href="#" class="">Exos</a>
                <ul class="sous-menu">
                    <li><a href="{{path('voiture_index')}}">Voiture</a></li>
                    <li><a href="{{path('sujet_index')}}">QCM</a></li>
                </ul>
            </li>
        </ul>
        <a href="{{path('app_register')}}">s'inscrire</a>
        <a href="{{path('app_login')}}">se connecter</a>
        <a href="{{path('app_logout')}}">se déconnecter</a>

    </nav>

</header>

<style>

    *{
        margin: 0;
        padding: 0;
    }
    img.logo{
        margin: 0;
        height: 100px;
        width: 100px;
    }

    header {
        display: flex;
        margin: 0;
        justify-content: space-between;
        padding: 10px;
        font-size: 20px;
        color: cornflowerblue;
        background-image: url("https://cdn.pixabay.com/photo/2015/09/17/10/30/banner-943866_1280.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: #1e6091 solid 1px;
    }
    header nav{
        padding-top: 20px;
    }
    header nav ul{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
    }
    header nav ul li {
        width: 130px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background-color: rgb(67, 113, 180);
        border: 1px solid white;
        border-radius: 10px;
        float: left;
        font-size: 17px;
        margin: 5px;
        padding: 0;
    }
    ul ul li{
        display: none;
    }
    nav ul li > ul li{
        font-size: 15px;
        margin: 0;
    }
    nav ul li:hover > ul li {
        display: flex;
        position: relative;
        justify-content: center;
    }
    li a{
        color: white;
        text-decoration: none;
    }
    li a:hover{
        color: aquamarine;
    }
    a:hover, a:focus {
        text-decoration: none;
    }
    @media screen and (max-width: 850px) {
        main, div, figure {
            display: flex;
            overflow: scroll;
            flex-direction: column;
            align-items: center;
        }
    }
    @media screen and (max-width: 750px) {
        header
        {
            display: flex;
            flex-direction: column;
            align-content: center;
        }
    }
</style>