<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <style>
                *{margin: 0;padding: 0;}
                body{background-color: white;}
                img.logo{margin: 0;height: 90px; width: 110px;}
                header nav {display: flex;margin: 0;justify-content: space-between;padding: 10px;font-size: 20px;
                    color: cornflowerblue;background-image: url("https://cdn.pixabay.com/photo/2015/09/17/10/30/banner-943866_1280.jpg");
                    background-repeat: no-repeat;background-size: cover;border-bottom: #1e6091 solid 1px; padding-top: 20px;}
                header nav ul{display: flex;flex-wrap: wrap;list-style-type: none;}
                header nav ul li {width: 130px;height: 35px;line-height: 35px;text-align: center;background-color: rgb(67, 113, 180);
                    border: 1px solid white;border-radius: 10px;float: left;font-size: 17px;margin: 5px;padding: 0;}
                ul ul li{display: none;}
                nav ul li > ul li{font-size: 15px;margin: 0;}
                nav ul li:hover > ul li {display: flex;position: relative;justify-content: center;}
                li a{text-decoration: none;}
                li a:hover{color: aquamarine;}
                main {height: 700px;font-size: 20px ;background-image: url("https://cdn.pixabay.com/photo/2017/12/10/20/56/feather-3010848_960_720.jpg");
                    background-repeat: no-repeat;background-size: cover;display: block;overflow: scroll;color: black;
                    margin: 0;padding: 30px;}
                footer {display: flex;justify-content: center;padding-top: 10px;height: 35px;color: white;background-color: black;}
                .text-dark{text-decoration: none;}
                a:hover, a:focus {text-decoration: none;}
                .nav-link{padding: 5px}
                @media screen and (max-width: 850px) {  main, div, figure {display: flex;overflow: scroll;
                        flex-direction: column;align-items: center;}  }
            </style>
        {% endblock %}

        {% block javascripts %}

        {% endblock %}

    </head>
        <body>
        <header>
            <nav>
                <ul>
                <img class="logo" src="https://i.pinimg.com/originals/97/a5/34/97a534c4e5e6a8d84671afeaf871942e.png" alt="LogoTM">

            <li><a href="{{path('home')}}" class="">Accueil</a></li>
            <li class="button-select"><a href="#" class="">Exos</a>
                <ul class="sous-menu">
                    <li><a href="{{path('voiture_index')}}">Voiture</a></li>
                    <li><a href="{{path('sujet_index')}}">QCM</a></li>
                </ul>
            </li>
                </ul>
                <ul>
            {% if is_granted('ROLE_USER') %}
                    <span class="nav-link">{{ app.user.email }} ></span>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                {% if mainNavAdmin is defined %}active{% endif %}
                    <a class="nav-link" href="{{ path('voiture_index') }}">espace admin</a>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                    <a class="nav-link" href="{{ path('app_logout') }}">déconnexion</a>

            {% else %}
                <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %}">
                    <a class="nav-link {% if mainNavRegister is defined %}active{% endif %}" href="{{ path('app_register') }}">inscription</a>
                </li>
                <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('app_login') }}">connexion</a>
                </li>
            {% endif %}
                </ul>
            </nav>
        </header>

        <main>
        {% block body %} {% endblock %}
        </main>
            <p class="text-center p-3"> © 2022 Copyright :
                <a class="text-dark" href="https://openclassrooms.com/">&nbsp;Site PHP</a>
            </p>

        </body>

</html>
