<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <style>
                *{margin: 0;padding: 0;}
                body{background-color: white;}
                img.logo{margin-right: 20px;height: 80px; width: 190px;}
                header nav {display: flex;margin: 0;justify-content: space-between;padding: 10px;font-size: 20px;
                    color: cornflowerblue;background-image: url("https://a-static.besthdwallpaper.com/course-gris-voiture-sport-dans-la-pluie-fond-d-ecran-1280x960-26117_20.jpg");
                    background-repeat: no-repeat;background-size: cover;border-bottom: #1e6091 solid 1px; padding-top: 20px;}
                header nav ul{display: flex;flex-wrap: wrap;list-style-type: none;}
                header nav ul li {width: 130px;height: 35px;line-height: 35px;text-align: center;background-color: snow;
                    border: 1px solid rgb(67, 113, 180);border-radius: 10px;float: left;font-size: 17px;margin: 5px;padding: 0; margin-top: 15px;}
                ul ul li{display: none;}
                nav ul li > ul li{font-size: 17px;margin: 2px; color: rgb(67, 113, 180)}
                nav ul li:hover > ul li {display: flex;position: relative;justify-content: center;}
                li a{text-decoration: none;}
                li a:hover{color: aquamarine;}
                main {height: 700px;font-size: 20px ;background-image: url("https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/automotive-life/need-for-speed/nfs-nsc-media-square-m.jpg.asset.1531833734317.jpg");
                    background-repeat: no-repeat;background-size: cover;display: block;overflow: scroll;color: black;
                    margin: 0;padding: 30px;}
                footer {display: flex;justify-content: center;padding-top: 10px;height: 35px;color: white;background-color: black;}
                .text-dark{text-decoration: none;}
                a:hover, a:focus, a:visited {text-decoration: none; color: rgb(67, 113, 180);}
                .nav-link{padding: 5px; margin-top: 15px}
                @media screen and (max-width: 850px) {  main, div, figure {display: flex;overflow: scroll;
                        flex-direction: column;align-items: center;}  }
            </style>
        {% endblock %}

        {% block javascripts %}

        {% endblock %}

    </head>
        <body>
        <header>
            <nav>
                <ul>
                <img class="logo" src="https://www.steamcars.be/wp-content/uploads/2019/10/S-TEAMCARS.png" alt="LogoTM">

            <li><a href="{{path('home')}}" class="">Accueil</a></li>
            <li><a href="{{path('voiture_index')}}">Location Voitures</a></li>
            <li class="button-select"><a href="#" class="">Exos</a>
                <ul class="sous-menu">
                    <li><a href="{{path('sujet_index')}}">QCM</a></li>
                    <li><a href="{{path('calculatrice')}}">Calculatrice</a></li>
                    <li><a href="{{path('bande_passante')}}">Bande Passante</a></li>
                    <li><a href="{{path('jeu_des')}}">Lancer de Dés</a></li>
                    <li><a href="{{path('facture_elec')}}">Facture Elec</a></li>
                    <li><a href="{{path('volume_cone')}}">Volume Cone</a></li>
                    <li><a href="{{path('jour_semaine')}}">Weekday</a></li>
                </ul>
            </li>
                </ul>
                <ul>
            {% if is_granted('ROLE_USER') %}
                    <span class="nav-link">{{ app.user.email }} ></span>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                {% if mainNavAdmin is defined %}active{% endif %}
                    <a class="nav-link" href="{{ path('voiture_index') }}">espace admin</a>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                    <a class="nav-link" href="{{ path('app_logout') }}">déconnexion</a>

            {% else %}
                <li class="nav-item {% if mainNavRegistration is defined %}active{% endif %}">
                    <a class="nav-link {% if mainNavRegister is defined %}active{% endif %}" href="{{ path('app_register') }}">inscription</a>
                </li>
                <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                    <a class="nav-link" href="{{ path('app_login') }}">connexion</a>
                </li>
            {% endif %}
                </ul>
            </nav>
        </header>

        <main>
        {% block body %} {% endblock %}
        </main>
            <p class="text-center p-3"> © 2022 Copyright :
                <a class="text-dark" href="https://openclassrooms.com/">&nbsp;Site PHP</a>
            </p>

        </body>

</html>
