{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}


{% block body %}
    <h1>Inscription</h1>

    {#    {{ form(formulaire) }} formulaire automatique #}

    {{ form_start(formulaire) }}{#    <form action="" method="post">#}
    {{ form_row(formulaire.prenom) }}
    {{ form_row(formulaire.nom) }}
    {{ form_row(formulaire.login) }}
    {{ form_row(formulaire.mail) }}
    {{ form_row(formulaire.password) }}
    <input type="submit" value="S'inscrire">

    {{ form_end(formulaire) }}{#    </form>#}

    {{ email }}
    {{ resultat }}

    {#    <form action="" method="post">#}
    {#        <input type="text" name="champ" value="">#}
    {#        <input type="submit" value="Envoyez">#}
    {#    </form>#}


{% endblock %}