{% extends 'base.html.twig' %}

{% block title %}Actualite{% endblock %}

{% block body %}
    <div class="row">

        {% for j in joueur %}


<div>
            <div class="col">
                <div class="card"></div>
                              <img src="https://picsum.photos/200" class="img-fluid" alt="image produits">
                    <div class="card-body">
                         <h4 class="card-title">{{ j.name }}</h4>
                   <span class="badge badge bg-primary">{{ j.surName}}</span>
                    <p class="card-text"></p>{{ j.description }}
                  <a href="{{ path('app_show_actualite') }}"
                      class="btn btn-primary btn-sm"> Details du joueur</a>

                      </div>
                </div>
            </div>
        {% endfor %}
    </div>


    {#            <div class="col"> #}
    {#                <div> #}

    {#                    <div class="card mb-3"> #}
    {#                        <h3 class="card-header">{{ j.name }}</h3> #}
    {#                        <div class="card-body"> #}
    {#                            <h5 class="card-title">poste</h5> #}
    {#                        </div> #}
    {#                        <img class=" img-fluid" src="https://picsum.photos/200" #}
    {#                             alt="image joueur"> #}

    {#                        <div class="card-body"> #}
    {#                            <p class="card-text"> {{ j.description }} </p> #}
    {#                        </div> #}

    {#                        #}{#                                                <div class="card-body"> #}
    {#                        #}{#                                                    <a href="#" class="card-link">Card link</a> #}
    {#                        #}{#                                                    <a href="#" class="card-link">Another link</a> #}
    {#                        #}{#                                                </div> #}
    {#                        #}{#                                                <div class="card-footer text-muted"> #}
    {#                        #}{#                                                    2 days ago #}
    {#                        #}{#                                                </div> #}
    {#                        <button type="button" class="btn btn-secondary"><a href="{{ path('app_show_actualite') }}"> En #}
    {#                                savoir plus</a></button> #}


    {#                    </div> #}


    {#                    #}{#                                        <h1 class="animate__animated animate__bounce">An animated element</h1> #}

    {#                </div> #}


    {#            </div> #}
    {#        {% endfor %} #}

    </div>


{% endblock %}
