{% extends 'base.html.twig' %}

{% block title %}Modification compte{% endblock %}

{% block body %}
    <h1> Réserver un Billet</h1>

    {{ form_start(Form) }}
    {{ form_row(Form.nom) }}
    {{ form_row(Form.prenom) }}
    {{ form_row(Form.email) }}

    <button type="submit" class="btn">Register</button>


    {{ form_end(registrationForm) }}

{% endblock %}
