{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
    <style>
        div{display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;}
        ul{list-style-type: none}
        @media screen and (max-width: 850px) {div {display: flex;overflow: scroll;
            flex-wrap: wrap; align-items: center;}  }
    </style>

    {%  if is_granted ('ROLE_ADMIN') %}
    je suis admin<br>
    {% endif %}
    <h1>Voiture index</h1>

    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

        <ul>
            <li>Id</li>
            <li>Nom</li>
            <li>Marque</li>
            <li>Prix</li>
            <li>actions</li>
        </ul>
        <div>
        {% for voiture in voitures %}

                <ul>
                <li>{{ voiture.id }}</li>
                <li>{{ voiture.nom }}</li>
                <li>{{ voiture.marque.nom }}</li>

                    {% for image in voiture.images %}
                    <img src="{{ ('/uploads/' ~ image.nom) }}" alt="Image" width="300"><br>
                    {% endfor %}
                    {%  if is_granted ('ROLE_ADMIN') %}
                    <li>
                    <a href="{{ path('voiture_show', {'id': voiture.id}) }}">show</a>
                    <a href="{{ path('voiture_edit', {'id': voiture.id}) }}">edit</a>
                    {%  endif %}
                    {%  if is_granted ('ROLE_USER') %}
                        <a href="{{ path('voiture_show', {'id': voiture.id}) }}">show Details</a>
                    {% endif %}
                    </li>
            </ul>

        {% endfor %}
        </div>

    <a href="{{ path('voiture_new') }}">Create new</a>
{% endblock %}
